.main{
    background: url(../img/contactsBackground.jpg);
    background: linear-gradient(110deg, rgba(224, 169, 133, 0.25) 43%, rgba(224, 169, 133, 0.22) 68%), url(../img/contactsBackground.jpg), lightgray 50% / cover no-repeat;
    
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
/* border-radius: 20px; */
border-radius: 20px;
padding-bottom: 5px;
}

.vktg {
    display: flex;
    justify-content: center;
}

.vktg__img {
    margin: 35px 30px 0 30px;
    width: 110px;
}
.tg {
    border-radius: 20px;
    width: 103px;
}
.vktg__text, .main__text {
color: #292214;
font-family: Mate SC;
font-size: 40px;
font-weight: 400;
line-height: 70px; 
letter-spacing: 0px;
padding-top: 60px;
margin: 0 auto;
display: flex;
justify-content: center;
}

.main__map {
    margin: 40px auto;
    display: block;
    text-align: center;
    width: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(41,34,20, 0.25);
    border: 0.3mm solid rgba(77, 45, 24, 0.6);
    box-shadow: 3px 2px 2px #292214;
    border-radius: 40px;
}
.main__map:hover{
    box-shadow: 10px 5px 5px rgba(198, 170, 151, 0.6);
    border: 0.1mm solid rgba(224, 169, 133, 0.6);
}
iframe{
    width: 660px;
    height: 410px;
    border-radius: 40px;
}
.header__grid{
    color: #292214;;
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    font-weight: 400;
    line-height: 50px; 
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.main__photoGrid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* grid-template-rows: repeat(2,auto); */
    gap: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
}
.main__photoGrid_item{
    border: 0.3mm solid rgba(77, 45, 24, 0.6);
    box-shadow: 3px 2px 2px #292214;
    border-radius: 40px;
    width: 403px;
    height: 308px;
}
.main__photoGrid_item:hover {
    box-shadow: 5px 5px 5px #292214;;
    transform: scale(1.2);
}

/* 
.main__form {
width: 796px;
height: 663px;
border-radius: 40px;
border: 1px solid #958888;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 44px;
margin-right: auto;
margin-left: auto;
margin-bottom: 80px;
}
.main__form_label {
display: flex;
width: 355px;
height: 60px;
flex-direction: column;
justify-content: center;
color: #000;
font-family: Mate SC;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 50px;
letter-spacing: 3px;
margin-left: 70px;
margin-top: 25px;
}
.main__form_input_message {
    width: 664px;
height: 137px;
border-radius: 20px;
border: 1px solid #767879;
background: #E9E1D5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 13px;
margin-bottom: 15px;
margin-left: 66px;
font-size: 30px;
}

    .main__form_input_message:hover, .main__form_input:hover,
    .main__form_input_message:focus, .main__form_input:focus,
    .main__form_button:hover
    {
        border: 3px solid #767879;
        box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
    }

.main__form_input {    
   
width: 664px;
height: 50px;
justify-content: center;
border-radius: 20px;
border: 1px solid #767879;
background: #E9E1D5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 13px;
margin-left: 66px;
font-size: 30px;
}
.main__form_button {
width: 299px;
height: 65px;
border-radius: 20px;
border: 2px solid #767879;
background: #BBA584;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 248px;
font-family: Mate SC;
font-size: 36px;
font-weight: 400;
line-height: 50px; 
letter-spacing: 3px;
margin-top: 15px;
} */

/* ************************** mobile  */
@media (min-width:180px) and (max-width:1325px) {
    .main__photoGrid {
    grid-template-columns: repeat(2,auto);}
}
@media (min-width:180px) and (max-width:885px) {
    .main__photoGrid {
    grid-template-columns: repeat(1,auto);}
    iframe{
        width: 400px;
        height: 300px;
    }
}
@media (min-width:180px) and (max-width:480px) {
    .main__content{
        max-width: 480px;
        margin: 0 auto;
    }
    .vktg__img {
     margin-top: 20px;
    }
    .tg {
        width: 45px;
        height: 45px;
    }
    .vk {
        width: 40px;
        height: 40px;
    }
    .vktg__text {
    font-size: 17px;
    line-height: 30px; 
    letter-spacing: 1px;
    margin-top: 25px;
    }
    .main__text{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-left: 20px;
    }
    .header__grid{
        font-size: 36px;
        font-weight: 400;
        line-height: 40px; 
        margin-top: 30px;
    }
    .main__photoGrid_item{
        width: 300px;
        height: 220px;
    }
    iframe{
        width: 330px;
        height: 260px;
    }
    .main__photoGrid_item:hover {
        box-shadow: none;
        transform: none;
    }
}